body {
	-webkit-font-smoothing: antialiased;
	background: #f2f4f7;
}

* {
	outline: none;
}

.bg-full {
	background: #f2f4f7;
}
.box {
	clear: both;
	margin-top: 0;
	padding: 0;
	background: #ffffff;
	border: 1px solid #dce1e8;
	border-bottom: 2px solid #dce1e8;
	margin-bottom: 20px;

	.box-title {
		margin-bottom: 0;
		padding: 15px 20px 0px;

		h1,h2,h3,h4,h5 {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 16px;
		}
	}
	.box-content {
		padding: 15px 20px;
	}
	.form-box {
		padding: 10px 0;
	}
}


.box-border {
	clear: both;
	margin-top: 0;
	padding: 0;
	background: #ffffff;
	border: 1px solid #dce1e8;
	border-bottom: 2px solid #dce1e8;
	margin-bottom: 20px;

	.box-title {
		margin-bottom: 0;
		padding: 15px 20px 10px;
		border-bottom: 1px solid #dce1e8;

		h1,h2,h3,h4,h5 {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 16px;
		}
	}
	.box-content {
		padding: 15px 20px;
	}
	.form-box {
		padding: 10px 0;
	}
}

.bg-white {
	background: white !important;
}

.box-br {
	margin-bottom: 20px;
}

.main-content {
    margin-top: 18px;
}

.breadcrumb {
	margin-bottom: 30px;
	background: #dce1e8 !important;
}

textarea {
	resize: vertical;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

ul, ol {
	padding-left: 20px;
}

// logo

.big-logo {
	position: relative;
	margin: 30px 0 20px;
	margin-right: auto;
	margin-left: auto;
	width: 120px;
	height: 120px;
	cursor: pointer;
}
.big-prcy {
    width: 40px;
    height: 40px;
}


.prcy {
    width: 7px;
    height: 7px;
}

.c1 {
    float: left;
    background: #a1b0d5;
}

.c2 {
    float: left;
    background: #c5cde6;
}

.c3 {
    float: left;
    background: #fff;
}

.c4 {
    float: left;
    clear: both;
    background: #94a2d1;
}

.c5 {
    float: left;
    background: #7688c2;
}

.c6 {
    float: left;
    background: #dbdfed;
}

.c7 {
    float: left;
    clear: both;
    background: #d1dae7;
}

.c8 {
    float: left;
    background: #bcc7e2;
}

.c9 {
    float: left;
    background: #fff;
}

.logo-text {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
}

.navbar-brand {
    padding: 9px 15px;
}

.radio label {
	padding-left: 0;
}

// Typo

h2 a {
    color: $text-color;
}

.black {
    color: $text-color;
    a {
        color: $text-color;
    }
}

small,
.small {
    font-size: 11px;
}

.navbar .badge {
    padding: 3px 6px;
    background-color: $brand-success;
}

.navbar .badge-gray {
    background-color: $gray !important;
    color: $gray-light !important;
}

.bold {
    font-weight: bold;
}

.noun {
	text-decoration: none;
}
.noun:hover {
	text-decoration: none;
}

// Colors

.green {
    color: $brand-success;
    font-weight: 700;
}

.blue {
    color: #2147A0;
}

.red {
    color: #F10B47;
}

.yellow {
    color: #E7CA06;
}

.green-normal {
    color: #1D8705;
}

.red-txt {
    color: red;
    font-weight: 400;
}

.orange {
    color: #9B8107;
    font-weight: 700;
}

.carrot {
    color: #e67e22;
}

.red-light {
    color: #AE9393;
}

.gray {
    color: #b3b3b3;
}

.vk {
	color: #3e5c7e;
}

.fb {
	color: #3c568b;
}

// QuickLinks ADS

.quicklinks {
    margin: 10px 0px 30px 0px;
}

.quicklinks img {
    float: left;
    margin: 3px 15px 0 0;
}

.quicklinks span {
    padding-left: 10px;
    font-size: 11px;
}

.quicklinks a {
    border-bottom: 1px solid #028277;
    color: #005952 !important;
    text-decoration: none;
    font-size: 16px;
    &:hover {
        border-bottom: none;
    }
}

// Add in alert

.alert .add {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    border-bottom: none !important;
    color: #8dc63f;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: bold;
    font-size: 28px;
    line-height: 18px;
    line-height: 18px;
    opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    filter: alpha(opacity = 80);
}

// Footer

footer {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 3px solid #ebedef;
    color: #7b7b7b;
    .title {
        margin-top: 0;
        margin-bottom: 10px;
        color: #7b7b7b;
        font-weight: 700;
        font-size: 14px;
    }
    a {
        color: inherit;
    }
}

.bottom-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-links li {
    margin-right: 0;
    line-height: 22px;
}



.h1 {
    @extend h1;
}

// Form

.form-control {
    @include box-shadow(inset 0 1px 0 rgba(0, 0, 0, 0.045));
    padding: 6px 10px !important;
}

select {
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
     border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

input[type="radio"], input[type="checkbox"] {
	margin: 2px 10px 0px 5px !important;
	position: relative !important;
}

.radio, .checkbox {
	padding-left: 0;
}

// IMG

img {
    max-width: 100%;
    height: auto;
}

.pro {
    display: inline-block;
    width: 27px;
    height: 14px;
    background-image: url(/assets/images/pro.gif);
    background-repeat: no-repeat;
    vertical-align: text-top;
}

.breadcrumb {
	a {
		color: #666;
	}
}

.big {
	font-size: 21px;
}

.toggled, .toggled:hover {
	text-decoration: none;
}
.margin-none, .no-margin-top, .no-margin {
	margin-top: 0;
}

.padding-top-1 {
	padding-top: 1px;
}
.padding-top-2 {
	padding-top: 2px;
}
.padding-top-3 {
	padding-top: 3px;
}
.padding-top-4 {
	padding-top: 4px;
}
.padding-top-5 {
	padding-top: 5px;
}

.padding-top-10 {
	padding-top: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}

.label-important, .label-error {
	@extend .label-danger;
}

.alert-error {
	@extend .alert-danger;
}

.tab-content {
	padding: 20px 0;
	background: #fff;
	padding: 15px;
	border-left: 1px solid #dce1e8;
	border-right: 1px solid #dce1e8;
	z-index: -9999;
}
.tab-close {
	border-bottom: 1px solid #dce1e8;
}
.tab-extra {
	background: #fff;
	padding: 0 15px;
	border-left: 1px solid #dce1e8;
	border-right: 1px solid #dce1e8;
	border-bottom: 1px solid #dce1e8;
}


.list-providers {
	margin-left: -5px;
	margin-top: 15px;
	padding-left: 0;
	list-style: none;
}
.list-providers > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.fa-xs {
	font-size: 1.05em;
}

.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.checkbox label {
	padding-left: 0;
}

.badge {
	padding: 3px 6px;
}
.badge-success {
	background-color: $brand-success;
}
.navbar .badge-username {
	background-color: #586689 !important;
	color: #a1a9b8 !important;
}

// btn

.btn-border {
	background-color: transparent;
	border: 2px solid #cccccc;
}
.btn-border:hover, .btn-border:focus, .btn-border:active, .btn-border.active {
	color: #333333;
	background: none;
	border-color: #adadad;
}

/* Animation */

.id-show-hide.ng-hide-add, .id-show-hide.ng-hide-remove {
	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	display:block!important;
}

.id-show-hide.ng-hide-add.ng-hide-add-active,
.id-show-hide.ng-hide-remove {
	opacity:0;
}

.id-show-hide.ng-hide-add,
.id-show-hide.ng-hide-remove.ng-hide-remove-active {
	opacity:1;
}

.cursorPointer {
	cursor: pointer;
}

.nav-tabs > li > a:hover {
	cursor: pointer;
}

.disabled-links {
	pointer-events: none;
	cursor: default;
}


/* table sort */

table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting {
    cursor: pointer;
    *cursor: hand
}

table thead .sort {
    padding-right: 15px;
    background: url("../images/sort_both.png") no-repeat center right
}

table thead .sort-asc {
    padding-right: 15px;
    background: url("../images/sort_asc.png") no-repeat center right
}

table thead .sort-desc {
    padding-right: 15px;
    background: url("../images/sort_desc.png") no-repeat center right
}

#captchaImg {
	margin-bottom: 15px;
	border: 1px solid #cccccc;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown-bar .dropdown-menu {
	min-width: 300px;
}
.dropdown-bar .pr-cy-blue {
	color: #bcc7e2 !important;
}
.fa-xs {
	font-size: 14px !important;
}